@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

* {
    box-sizing: border-box;
}



body {

    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(orange, white, green);
}

body.correct {
    background-color: green;
}

body.wrong {
    background-color: orange;
}

.container {
    width: 800px;
    max-width: 80%;
    background-color: transparent;
    border-radius: 5px;
    padding: 30px;

    font-family: Roboto;
}


.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 20px;
    margin: 20px 0;
}

#question {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
    opacity: 0.8;
    margin-bottom: 50px;
}

.btn {

    border: none;
    background-color: #19bdff;
    border-radius: 50px;
    padding: 5px 10px;
    color: white;
    font-size: 20px;
    letter-spacing: 2px;



    height: 50px;

}

.btn:hover {
    border-color: black;
}

.btn.correct {
    background-color: green;
    color: black;
}

.btn.wrong {
    background-color: orange;
}

.start-btn,
.next-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}










/* Background Styles Only */




html {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DFDFDF;
}